<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshuo.mapper.DemoMapper">



<select id="selectDemo" parameterType="com.eshuo.domain.Demo" resultType="com.eshuo.domain.Demo">
    select * from demo where 1 = 1
    <if test="id != null "> and id = #{id}</if>
    <if test="name != null "> and name = #{name}</if>
</select>


</mapper>