<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qlexpressdemo.mapper.ConditionInfoMapper">


    <sql id="selectConditionInfoSql">
        SELECT ci.id,ci.expression,  ci.parent_id,  ci.result_info, ci.context_info, ci.rule_id,ci.param_info_ids
        FROM condition_info ci
    </sql>


    <resultMap id="conditionInfoBase" type="com.example.qlexpressdemo.entity.ConditionInfo">
        <id property="id" column="id"></id>
        <result property="expression" column="expression"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="resultInfo" column="result_info"></result>
        <result property="contextInfo" column="context_info"></result>
        <result property="paramInfoIds" column="param_info_ids"></result>
        <result property="ruleId" column="rule_id"></result>
        <!--        <collection property="paramInfoIds" ofType="string" javaType="list">-->
        <!--            <result column="param_info_ids"/>-->
        <!--        </collection>-->
    </resultMap>

    <resultMap id="conditionInfo" type="com.example.qlexpressdemo.entity.ConditionInfo">
        <id property="id" column="id"></id>
        <result property="expression" column="expression"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="resultInfo" column="result_info"></result>
        <result property="contextInfo" column="context_info"></result>
        <!--        <result property="paramInfoIds" column="param_info_ids" typeHandler="com.example.qlexpressdemo.handler.StringListTypeHandler"></result>-->
        <result property="paramInfoIds" column="param_info_ids"></result>

        <result property="ruleId" column="rule_id"></result>

        <!--        <collection property="paramInfoIds" ofType="string" javaType="list">-->
        <!--            <result column="param_info_ids"/>-->
        <!--        </collection>-->
        <collection property="paramInfos"
                    ofType="com.example.qlexpressdemo.entity.ParamInfo" select="getParamInfoList" column="param_info_ids"/>


<!--        <collection property="paramInfos" ofType="com.example.qlexpressdemo.entity.ParamInfo">-->
<!--            <id property="id" column="id"/>-->
<!--&lt;!&ndash;            <result property="name" column="sname"/>&ndash;&gt;-->
<!--        </collection>-->

        <collection property="subConditionInfos"
                    ofType="com.example.qlexpressdemo.entity.ConditionInfo" select="getSubConditionInfo" column="id"/>

        <!--        <collection  property="parentConditionInfo"-->
        <!--                    ofType="com.example.qlexpressdemo.entity.ConditionInfo" select="findById" column="parent_id">-->

        <!--        </collection>-->

<!--        <collection property="paramInfos" ofType="com.example.qlexpressdemo.entity.ParamInfo">-->
<!--            <id property="id" column="id"/>-->
<!--            <result property="field" column="field"/>-->
<!--            <result property="title" column="title"/>-->
<!--            <result property="type" column="type"/>-->
<!--            <result property="cInfo" column="c_info"/>-->
<!--        </collection>-->

    </resultMap>


    <resultMap id="paramInfoData" type="com.example.qlexpressdemo.entity.ParamInfo">

        <id property="id" column="id"/>
        <result property="field" column="fie_id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="cInfo" column="c_info"/>

    </resultMap>


    <!--级联查询父级-->
    <select id="selectAllConditionInfo" resultMap="conditionInfo">
        <include refid="selectConditionInfoSql"/>
        where parent_id is null
    </select>


    <!--级联查询子集-->
    <select id="getSubConditionInfo" parameterType="java.lang.Integer" resultMap="conditionInfo">
        <include refid="selectConditionInfoSql"/>
        where ci.parent_id = #{id}
    </select>


    <select id="getParamInfoList" parameterType="java.lang.String" resultMap="paramInfoData">
            SELECT *
            FROM param_info
            WHERE 1=1

            <if test="ids!=null and ids!='' and ids.indexOf(',')!=-1">
                and id in
                <foreach collection="ids.split(',')" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ids !=null and ids.indexOf(',') == -1">
                AND id = #{ids}
            </if>

        </select>


    <!--    <select id="findById" resultType="com.example.qlexpressdemo.entity.ConditionInfo" parameterType="java.lang.Integer">-->

    <!--        <include refid="selectConditionInfoSql"></include>-->
    <!--        where ci.id = #{id}-->

    <!--    </select>-->


    <select id="findById" resultMap="conditionInfo" parameterType="java.lang.String">

        <include refid="selectConditionInfoSql"></include>
        where ci.id = #{id}

    </select>

    <select id="findId" resultMap="conditionInfoBase" parameterType="java.lang.String">
        <include refid="selectConditionInfoSql"></include>
        where ci.id = #{id}
    </select>
    <select id="findByRuleId" resultMap="conditionInfo" parameterType="java.lang.String">

        <include refid="selectConditionInfoSql"></include>
        where ci.rule_id = #{ruleId}

    </select>


    <!--    </select>-->


    <!--    curd-->

    <!--    <insert id="insert" parameterType="com.example.qlexpressdemo.entity.ConditionInfo">-->
    <insert id="insert" parameterType="com.example.qlexpressdemo.entity.ConditionInfo">
        INSERT INTO condition_info (id, expression, parent_id, result_info, context_info, param_info_ids, rule_id)
        VALUES (#{id},#{expression},#{parentId},#{resultInfo},#{contextInfo},#{paramInfoIds},#{ruleId})
    </insert>

    <update id="update" parameterType="com.example.qlexpressdemo.entity.ConditionInfo">

    update condition_info
    <trim prefix="SET" suffixOverrides=",">

        <if test="expression != null">expression = #{expression}</if>
        <if test="parentId != null">parent_id = #{parentId}</if>
        <if test="resultInfo != null">result_info = #{resultInfo}</if>
        <if test="contextInfo != null">context_info = #{contextInfo}</if>
        <if test="paramInfoIds != null">param_info_ids = #{paramInfoIds}</if>
        <if test="ruleId != null">rule_id = #{ruleId}</if>

    </trim>
    where id = #{id}
    </update>


    <delete id="deleteById" parameterType="string">
        delete from condition_info where id = #{id}
    </delete>

    <delete id="deleteBatchIds" parameterType="string">

        delete from condition_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



</mapper>
